.navi{
    margin: 10px;
    padding-left: 10%;
}
.navi .nav-item{
    margin: 0 10px;
}
.navbar-nav{
    margin-left: 25%;
}
.about{
    color: cyan;
    padding-left: 10%;
    letter-spacing: 0.5em;
    font-weight: bold;
    font-size: 20px;
}
.what{
    color: cyan;
    text-align: center;
    letter-spacing: 0.5em;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
}
.navi .dft-button{
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    border: solid 3px;
    border-radius: 10px;
    border-color: cyan;
    cursor: pointer;
}

.footer-li .dft-button{
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 0px;
    border-radius: 10px;
    border-color: cyan;
}
.bg .imgbg{
    width: 100%;
}
h2{
    color: black;
    padding-left: 15%;
    padding-right: 35%;
      font-size: 1.5rem;
      font-weight: bold;
      padding-bottom: 10px;
  }
h3{
    text-align: center;
}
.www{
    text-align: center;
    margin: 0 30%;
    font-size: 12px;
}
.weare{
      padding-left: 15%;
      padding-right: 25%;
  }
.title-midle{
    text-align: center;
    font-size: 30px;
}
hr{
      border-style: none;
      border-width: 10px;
      width: 0%;
      margin: 80px auto;
  }

.button{
    padding-left: 15%;
}

.footer {
    text-align: left;
    padding: 3%;
    background-color: black;
    left: 0;
    right: 0;    
}
.ccfooter{
    margin-left: 70%;
}
.footer-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}
.footer-li{
    text-align: right;
    margin: 0 10px;
    padding-top: 20px;
}
.icon-footer{
    color: white;
    font-size: 25px;    
}
.footer-li .button-footer{
    font-size: 10px;
}
.footer .indra{
    position: absolute;
    text-align: left;
    font-size: 40px;
    margin: 0 10px;
    padding-left: 5%;
}
.card .card-img-top{
    width: 80%;
    margin: auto;
}
.card-title{
    text-align: left;
}
.card-text{
    text-align: left;
    font-size: 12px;
}
.card{
    border-style: none;
    width: 18rem;
    height: 30rem;
}
.card-bd{
    margin: auto;    
    border-style: solid;
    border-radius: 3%;
    border-color: cyan;
    width: 20rem;
    height: 20rem;
}
.card-border .card-bd{
width: 100%;
font-size: 12px;

}
.card-bd .card-title1{
    padding: 5%;
}
.card-bd .card-text1{
    padding: 0 5%;
    font-size: 12px;
}